/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

.simple-button {
  background-color: #4caf50;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.simple-button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #007bff;
}
.product-card,
.cart-item-details {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 0.2s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-container,
.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card img,
.cart-item-details img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.product-card h2,
.cart-item-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-card p,
.cart-item-details p {
  margin-bottom: 10px;
}
.cart-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cart-item-quantity {
  margin: 0 5px;
  background-color: #eee;
}

.fa-trash {
  margin-right: 5px;
}
.login-container,
.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
.register-inputs {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
h1,
h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}
 */
